
/**
 * Page styles.
 */
.scrollshow-page-inner {
  margin: 1em;
}

/**
 * Float the menu at the top.
 */
.scrollshow-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #e0e0e0;
  border-bottom: 1px solid #f0f0f0;
  z-index: 100;
}
.scrollshow-menu-wrapper ul {
  display: block;
  text-align: center;
  margin: 0;
  padding: .5em 0;
}
.scrollshow-menu-wrapper ul li {
  display: inline;
  margin: 0;
  padding: 0 1em;
}
/**
 * Style the fallback link, whereever it may appear (ie. in the loading
 * dialog).
 */
.scrollshow-fallback-link {
  font-size: 90%;
  font-style: italic;
}
/**
 * Position the fallback link in the menu wrapper.
 */
.scrollshow-menu-wrapper .scrollshow-fallback-link {
  float: right;
  padding: 8px 5px 0 0;
}

/**
 * Slide styles.
 *
 * TODO: we need .first/.last classes to make the margin right.
 */
.scrollshow-slides {
  margin: -1em;
}
.scrollshow-slide,
.scrollshow-curtain {
  margin-bottom: 1em;
}
.scrollshow-slide-inner {
  padding: 1em;
  background: white;
  background: rgba(255, 255, 255, .50);
}

/**
 * Remove the close button from both dialogs.
 */
.scrollshow-preload-dialog .ui-dialog-titlebar-close,
.scrollshow-orientation-dialog .ui-dialog-titlebar-close {
  display: none;
}

